.back{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Step.jpg");
    filter: brightness(0.7);
    filter: contrast(0.8);
    background-size: cover; 
    height: 50vw;
    
} 

.quote{
    display: flex;
    margin-top: -2vw;
    flex-direction: column;
    margin-left: 30vw;
}

.pa1{
    color:rgb(199, 104, 89);
    font-family: 'Cormorant Garamond', serif;
    font-size:  2.6041666666666665vw;
    filter: contrast(100);
    animation: fadein 4s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

.pa2{
    color: black;
    font-size: 0.9765625vw;   
    animation: fadein 4s; 

}

/*********************************************************************************************************************/

@media(max-width:1200px){


    .back{
        margin-top: 35vw;
        background-size: cover; 
        width: 100vw;
        
        
    } 


    .quote{
        display: flex;
        margin-top: -2vw;
        flex-direction: column;
        margin-left: 45vw;
    }




    .pa1{
        font-size: 5vw;
        
    }


    .pa2{ 
        font-size: 4vw;  
        margin-top: -5vw;
    
    }




}
   